.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: black;
  color:wheat;
  font-weight: bold;

}

img {
  width: 400px;
  height: 300px;
  image-rendering: pixelated;
}

.area-selector-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/area_selector_background.jpg");
  background-size: cover;
  background-position: center;
}

.area-button-container {
  margin-bottom: 10px;
}